
.red{
   background-color: #DC2626;
}

.black{
   background-color: black;
}

.green{
   background-color: #166534;
}

.brown{
   background-color: #854D0E;
}

.orange{
   background-color: #EA580C;
}

.yellow{
   background-color: #FACC15;
}

.purple{
   background-color: #C026D3;
}

.cyan{
   background-color: #06b2cc;
}

.blue{
   background-color: #1D4ED8;
}

.gray{
   background-color: gray;
}

.pink{
   background-color: #EC4899;
}

.coral{
   background-color: #F87171;
}

.lime{
   background-color: #84CC16;
}

.white{
   background-color: white;
}

.LightSalmon{
   background-color: #FFA07A;
}

.LightPink{
   background-color: #FFB6C1;
}

.LightBlue{
   background-color: #90EE90;
}

.LightGreen{
   background-color: #ADD8E6;
}

.LightGray{
   background-color: #D3D3D3;
}

.LightYellow{
   background-color: #FFFFE0;
}

.LightCyan{
   background-color: #E0FFFF;
}

.peru{
   background-color: peru;
}

.tan{
   background-color: tan;
}

.navy{
   background-color: navy;
}
